@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Nunito', sans-serif;
}

:root{
    --bg-color:#2c2d31;
	 --snd-bf-color: #262840;
    --text-color: #fff;
    --main-color: #090a0a;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
}

body{
    background: var(--bg-color);
    color: var(--text-color);
}

section{
    
    padding: 10rem 9% 2rem;
}

.header{
    position: fixed;

    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: var(--bg-color);
    display: flex;
    justify-content: space-between;

    align-items: center;
    z-index: 100;
}

.logo{
    font-size: 1.5rem;
    color: var(--text-color);
    font-weight: 500;
    cursor: default;
}
.logo :hover{
	color:red;
}

.navbar a {
    font-size: 1.5rem;
    color:white;
    margin-left: 4rem;
    font-weight: 700;
	
}

.navbar a:hover
{
    color:red;
}



#menu-icon{
    font-size: 3.6rem;
    color: black;
    display: none;
}

.home{
    display: flex;
    justify-content: center;
    align-items: center;
}
.home-content{
	padding-top: 90px;
}
.home-content h3{
    font-size: 3.2rem;
    font-weight: 700;
}

.home-content h3:nth-of-type(2){
    margin-bottom: 2rem;
}

span{
    color: var(--main-color);
}

.home-content h1{
    font-size: 5.6rem;
    font-weight: 700;
    line-height: 1;
}
.home-content p{
    font-size:20px;
    
    
}

.home-img img{
    width: 20vw;
    border-radius:100%;
    height: 300px;
    width: 300px;
    margin-left: 100px;
   
}
.text:hover{
color:skyblue
}


@keyframes floatImage{
    0%{
        transform: translateY(0);
    }
    50%{
        transforms: translateY(-2.4rem);
    }
    100%{
        transform: translateY(0);
    }
}

.home-content p {
    font-size: 1sem;
}

.social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
	padding-top: 10px;
    background: transparent;
    border: .2rem solid white;
    border-radius: 50%;
    font-size: 2rem;
    color:white;
    margin: 3rem 1.5rem 3rem 0;
    transition: .5s ease;
}

.social-media a:hover{
    background: var(--text-color);
    color: var(--snd-bf-color);
    box-shadow: 0 0 1rem var(--main-color);
}

.btn {
    display: inline-block;
    padding: 1rem 2.8rem;
    background:white;
    border-radius: 4rem;
    box-shadow: 0 0 1rem var(--main-color);
    font-size: 1.6rem;
    color: var(--bg-color);
    letter-spacing: .1rem;
    font-weight: 600;
    transition: .5s ease;
}

.btn {
    box-shadow:0 0 25px white,
                0 0 50px white;
}
.btn:hover{
    color:red
}
#about{
    padding: -50px 0;
}

.about-col-1 img{
    height: 250px;
    width: 325px;
    border-radius:3%;
	position: relative;
	left: -50px;
	bottom:-40px;

	
	
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1{
    flex-basis: 35%;
	padding-top:100px;
	padding-bottom: 50px;
	
}

.about-col-2{
    flex-basis: 60%;
}

.sub-title{
    font-size: 60px;
    font-weight: 600;
    color:skyblue;
}

.tab-titles{
    display: flex;
    margin: 20px 0 40px;
}

.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    position: relative;
}

.tab-links::after{
    content: "";
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.7s;
}

.tab-links.active-link::after{
    width: 50%;
    background: #ff004f;
}

.tab-links:hover::after{
    width: 100%;
}

.tab-contents ul li{
    
    margin: 10px 0;
}

.tab-contents ul li span{
    color:red;
    font-size: 14px;
    font-weight: 600;
}

.tab-contents{
    display: none;
}

.tab-contents.active-tab{
    display: block;
}

.about-col-2 p {
    line-height: 22px;
}
/*  */

.container{
	position: relative;
	width: 100%;
	
	padding: 30px 10%;
}
.container .main-title{
	max-width: 700px;
	margin: 0px auto;
	text-align: center;
	font-family: helvetica;
}
.container .main-title h1{
	position: relative;
	font-size: 40px;
	color:white;
	margin-bottom: 30px;
	display: inline-block;
}
.container .main-title h1::before{
	content: '';
	position: absolute;
	width: 100%;
	height: 1px;
	top: 125%;
	left: 0;
	background-color: #808080;
}
.container .main-title h1::after{
	content: '';
	position: absolute;
	width: 50%;
	height: 3px;
	background-color: #d03645;
	top: calc(125% - 1px);
	left: 50%;
	transform: translateX(-50%);
}
.main-title p{
	color:whitesmoke;
}
.container .row{
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin-top: 70px;
}
.row .col{
	flex-basis: 46%;
}
.row .sub-title h2{
	position: relative;
	color:whitesmoke;
	font-size: 22px;
	font-family: helvetica;
	display: inline-block;
	margin-bottom: 30px;
}
.row .sub-title h2::before{
	content: '';
	position: absolute;
	width: 50%;
	height: 1px;
	top: 125%;
	left: 0;
	background-color: #808080;
}
.row .sub-title h2::after{
	content: '';
	position: absolute;
	width: 25%;
	height: 3px;
	top: calc(125% - 1px);
	left: 0;
	background-color: #d03645;
}
.subject{
	font-size: 18px;
	font-weight: thin;
	color: #808080;
	padding-bottom: 15px;
	text-transform: uppercase;
}
.progress-bar{
	position: relative;
	width: 100%;
	height: 5px;
	background-color: #808080;
	border-radius: 15px;
	margin-bottom: 20px;
}
.progress-bar::after{
	position: absolute;
	content: attr(value);
	top: -35px;
	right: 0;
	color: #808080;
	font-size: 18px;
}
.progress-line{
	position: absolute;
	width: 0%;
	height: 7px;
	background-color: #d03645;
	border-radius: 15px;
	top: -1px;
	animation: animate 1.5s cubic-bezier(1, 0.2, 0.2, 1) forwards;
}
@keyframes animate{
	100%{
		width: 100%;
	}
}
.progress-line::after{
	content: '';
	position: absolute;
	width: 13px;
	height: 13px;
	border-radius: 50%;
	top: 50%;
	left: 100%;
	transform: translate(-50%, -50%);
	background-color: #d03645;
}
@media(max-width: 768px){
	.container{
		padding: 30px 8%;
	}
}
@media(max-width: 568px){
	.container{
		padding: 30px 8%;
	}
	.header nav { 
		font-size: 6px;
	}
	.container .row{
		flex-direction: column;
	}
	.container .main-title h1{
		font-size: 36px;
	}
	.container .row{
		margin-top: 30px;
	}
	.row .col:nth-child(2){
		margin-top: 20px;
	}
}



 .main-title{
	max-width: 700px;
	margin: 0px auto;
	text-align: center;
	font-family: helvetica;
}

.section.portfolio{
	width: 100%;
	padding: 70px 8% 50px;
	background-color: var(--bg-clr-1);
}
.portfolio .portfolio-contents{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}
.portfolio-contents .project-box{
	position: relative;
	width: calc(100% / 3);
	border: 4px solid transparent;
	overflow: hidden;
	cursor: pointer;
}
.portfolio-contents .project-box img{
	width: 100%;
	height: 300px;
	object-fit: cover;
	display: block;
}
.portfolio-contents .project-box .project-desc{
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	bottom: -100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(8,112,152,0.8);
	padding: 15px;
	overflow: hidden;
	transition: bottom 0.3s ease-in-out;
}
.portfolio-contents .project-box:hover .project-desc{
	bottom: 0%;
} 
.project-box .project-desc a .project-desc-btn{
	letter-spacing: 1px;
	padding: 10px 26px;
	text-transform: uppercase;
	background-color: var(--main-heading-clr);
	color: var(--primary-base-clr);
	border: 1px solid var(--main-heading-clr);
}
.project-box .project-desc a .project-desc-btn:hover{
	background-color: transparent;
	color: var(--main-heading-clr);
}
.section.contact{
	width: 100%;
	
	padding: 70px 8% 50px;
	background-color: var(--bg-clr-2);
}
.contact .contact-contents{
	display: flex;
	justify-content: space-between;
}
.contact-contents .contact-details,
.contact-contents .contact-form{
	flex-basis: 50%;
}
.contact-contents .contact-details .contact-item{
	display: flex;
	align-items: center;
	margin: 30px 0px;
}
.contact-details .contact-item .icon{
	width: 45px;
	height: 45px;
	border: 2px solid var(--primary-base-clr);
	border-radius: 50%;
	margin-right: 20px;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}
.contact-item .icon i{
	font-size: 18px;
	color: var(--main-heading-clr);
}
.contact-item .contact-text{
	display: flex;
	flex-direction: column;
}
.contact-item .contact-text span{
	color: var(--text-clr);
}
.contact-item .contact-text span:nth-child(1){
	color: var(--main-heading-clr);
	margin-bottom: 5px;
}
.contact-contents .contact-form{
	margin-top: 30px;
	display: flex;
	flex-direction: column;
}
.contact-contents .contact-form .input-element{
	position: relative;
}
.contact-form .input-element input{
	width: 100%;
	border: none;
	border-radius: 25px;
	outline: 1px solid #444;
	padding: 10px 15px;
	margin-bottom: 15px;
	font-size: 15px;
	background-color: var(--bg-clr-1);
	color: var(--main-heading-clr);
}
.contact-contents .contact-form textarea{
	width: 100%;
	height: 200px;
	background-color: var(--bg-clr-1);
	border: 1px solid #444;
	border-radius: 10px;
	outline: none;
	padding: 15px;
	color: var(--main-heading-clr);
	font-size: 15px;
	resize: none;
	margin-bottom: 15px;
}
/*   === Contact Section Styling Ends ===   */

/*   === Page Footer Styling Starts ===   */
section.page-footer{
	width: 100%;
	padding: 30px 8%;
	background-color: var(--bg-clr-1);
	text-align: center;
	margin-top: 20px;
}
.page-footer p{
	color: var(--main-heading-clr);
	word-spacing: 2px;
	letter-spacing: 1px;
}
/*   === Page Footer Styling Ends ===   */




/*   *** Media Query Starts ***   */
@media(max-width: 968px){
	/* Services Section */
	.services-contents .service-box{
		flex-basis: 48%;
	}
	/* Blog Section */
	.blog .blog-contents{
		grid-template-columns: repeat(2, 1fr);
	}
	.blog .section-heading .blog-btn{
		position: relative;
		right: initial;
		bottom: initial;
		margin-bottom: 20px;
	}
}

@media(max-width: 868px){
	/* Home Section */
	.home{
		margin-bottom: 70px;
	}
	.home .hero{
		flex-direction: column-reverse;
		padding-bottom: 70px;
	}
	.home .hero .hero-img{
		flex-basis: 100%;
		margin-top: 40px;
	}
	.home .hero .hero-text{
		flex-basis: 100%;
		margin-top: 40px;
		margin-right: 0px;
		align-self: flex-start;
	}
	.navbar .menu-btn{
		display: block;
		margin-left: 40px;
		z-index: 101;
	}
	.home .navbar .nav-list{
		position: fixed;
		width: 100%;
		top: 0;
		right: -100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		background-color: var(--bg-clr-1);
		transition: right 0.3s cubic-bezier(1, 0.4, 0.4, 1);
		z-index: 100;
	}
	.home .navbar .nav-list.active{
		right: 0;
	}
	.navbar .nav-list li{
		margin: 25px 0px 0px;
	}
	.navbar .nav-list li:nth-child(1){
		margin-top: 180px;
	}
	.navbar .nav-list li a{
		font-size: 20px;
		letter-spacing: 2px;
	}
	.navbar .contact-btn-wrapper{
		margin-left: auto;
	}
	/* Portfolio Section */
	.portfolio-contents .project-box{
		width: calc(100% / 2);
	}
}

@media(max-width: 768px){
	/* About Section */
	.about .about-contents{
		flex-direction: column;
	}
	.about-contents .about-info{
		flex-basis: 100%;
		margin-bottom: 50px;
	}
	.about-contents .about-experience{
		flex-basis: 100%;
	}
	/* Skills Section */
	.skills .skills-contents{
		grid-template-columns: 1fr;
		grid-gap: 25px 0px;
	}
	/* Contact Section */
	.contact .contact-contents{
		flex-direction: column;
	}
	.contact-contents .contact-details,
	.contact-contents .contact-form{
		flex-basis: 100%;
	}
}

@media(max-width: 668px){
	/* Services Section */
	.services-contents .service-box{
		flex-basis: 100%;
	}
	/* Portfolio Section */
	.portfolio-contents .project-box{
		width: 100%;
	}
	/* Blog Section */
	.blog .blog-contents{
		grid-template-columns: 1fr;
	}
}

@media screen and (max-width:822px){
	.header{
		width:822px;
	}
}
@media screen and (max-width:320px){
	/* .header{
		width:600px;
		padding:0px;
		display:inline-flex;
		justify-content: space-between	;
		margin-left:40px;
	} */
	.home-content{
		width:320px;
		margin-left:850px;
		height:100vh;
	}
	.home-img img{
        position:relative;
		right:400px;
		top:400px;
		height: 300px;
		width: 300px;
		
	}
}
